/*
 * You can say something about your file if you need it!
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Elements
 * Header
 * Work
 * slide
 * Contact
 * Footer

**/

/*-------------------------*/
/* $Globelr
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/

/* background 
---------------------*/
/* 背景圖 */
.bg {
  position: fixed;
  /* 固定在網頁某個位置用fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/deepq1.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #fefefe; */
  background: linear-gradient(60deg, #70c1b3, #d4adcf);
  opacity: 0.3;
}
/* lean-bg
---------------------*/
.lean-bg--top:before,
.lean-bg--bottom:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 180px;
  background-color: #fefefe;
}
@media (max-width: 768px) {
  .lean-bg--top:before,
  .lean-bg--bottom:after {
    height: 80px;
  }
}
.lean-bg--top:before {
  top: 0;
  transform: skewY(-5deg) translateY(-50%);
}
.lean-bg--bottom:after {
  bottom: 0;
  transform: skewY(-5deg) translateY(50%);
}
.lean-bg--top {
  margin-top: 160px;
}
@media (max-width: 768px) {
  .lean-bg--top {
    margin-top: 80px;
  }
}
.lean-bg--bottom {
  margin-bottom: 160px;
}
@media (max-width: 768px) {
  .lean-bg--bottom {
    margin-bottom: 80px;
  }
}
.lean-bg--no-margin {
  margin: 0;
}
/* btn
---------------------*/
/* normal */
.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  min-width: 64px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  font-family: 'Raleway', 'Helvetica', 'roboto', arial, sans-serif;
  letter-spacing: 0;
  text-decoration: none;
  background-color: #d1d2d3;
  border: 0;
  border-radius: 18px;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  user-drag: none;
  transition: all 0.3s;
}
.btn--primary,
.btn--secondary {
  color: #210203;
}
.btn.btn--primary {
  background-color: #d3b99f;
}
.btn.btn--primary:hover,
.btn.btn--primary:active {
  background-color: #70c1b3;
}
.btn.btn--secondary {
  background-color: inherit;
  border: 1px solid #e881a7;
  color: #e881a7;
}
.btn.btn--secondary:hover,
.btn.btn--secondary:active {
  background-color: #e881a7;
  color: #fefefe;
}
.btn.btn--lg {
  font-size: 20px;
  line-height: 56px;
  height: 56px;
  font-weight: 400;
  border-radius: 28px;
  padding: 0 64px;
}
.btn.btn--md {
  font-size: 18px;
  line-height: 48px;
  height: 48px;
  font-weight: 400;
  border-radius: 24px;
  padding: 0 64px;
}
@media (max-width: 768px) {
  .btn.btn--md {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    font-weight: 400;
    border-radius: 20px;
    padding: 0 32px;
  }
}
.btn.btn--sm {
  font-size: 14px;
  line-height: 32px;
  height: 32px;
  font-weight: 400;
  border-radius: 16px;
  padding: 0 32px;
}
.btn-group .btn {
  margin-left: 8px;
  margin-right: 8px;
}
.btn-group--center {
  text-align: center;
}

/* icon btn */
.icon-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
}
.icon-btn .icon {
  display: inline-block;
  text-align: center;
  transition: all 0.3s;
}
.icon-btn .icon:hover {
  transform: translateY(-20%);
}
/* text btn */
.text-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Kosugi Maru', 'Helvetica', 'roboto', arial, sans-serif;
  letter-spacing: 0;
  text-decoration: none;
  color: #484848;
}
.text-btn.text-btn--primary {
  color: #d4adcf;
}
.text-btn.text-btn--lg {
  font-size: 20px;
  line-height: 48px;
  height: 48px;
  font-weight: 900;
}
.text-btn.text-btn--lg:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #d4adcf;
  transition: all 0.3s;
}
.text-btn.text-btn--lg:hover:before {
  width: 100%;
}

/* image
---------------------*/
.image {
  width: 100%;
  display: block;
}

/* imgbox
---------------------*/
.imgbox {
  width: 100%;
  padding: 20px;
  /* overflow: hidden; */
}
.imgbox__inner {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.imgbox__inner.imgbox__inner--4-3 {
  padding-top: calc(100% * 9 / 16);
}
/* .imgbox__inner.imgbox__shadow {
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
} */
.img__circle {
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.imgbox__inner .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .info-img .imgbox {
    max-width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
/*-------------------------*/
/* $Header
---------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s;
  background-color: #fefefe;
}
.header--colored {
  background-color: #fefefe;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.header--colored .menu-toggle span {
  background-color: #70c1b3;
}
.header--colored .navbar__social-bar .icon-btn {
  color: #70c1b3;
}
/* navbar 
---------------------*/

.navbar--collapse {
  margin-right: -16px;
  margin-left: -16px;
}
.navbar__social-bar {
  padding: 24px;
  float: left;
}
@media (max-width: 768px) {
  .navbar__social-bar {
    padding: 12px;
    text-align: center;
    position: relative;
  }
}
.navbar__social-bar .icon-btn {
  color: #70c1b3;
}
.navbar__nav {
  float: right;
}
/*-------------------------*/
/* $Work
---------------------------*/
.work {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .work {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/* work-list
---------------------*/
.work-list {
  padding-top: 40px;
}
.work-item {
  margin-bottom: 120px;
}
.work-item__text {
  padding-top: 24px;
}
.work-item__text--right {
  text-align: right;
}
.work-item__title {
  font-size: 36px;
  font-family: 'Kosugi Maru', 'roboto', arial, sans-serif;
  color: #686963;
}
.work-item__title--right {
  /* margin-right: -80px; */
}
.work-item__title--left {
  /* margin-left: -80px; */
}
.work-item__intro {
  font-size: 16px;
  line-height: 32px;
}
@media (max-width: 768px) {
  .work-item {
    margin-bottom: 48px;
  }
  .work-item__text--right {
    text-align: left;
  }
  .work-item__title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 8px;
  }
  .work-item__title--right {
    margin-right: 0;
  }
  .work-item__title--left {
    margin-left: 0;
  }
}
/*-------------------------*/
/* $Slide
---------------------------*/
/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  display: block;
  margin: auto;
  width: 80%;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ccc;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*-------------------------*/
/* $Contact
---------------------------*/
.contact {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  .contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .info-group {
    padding-top: 40px;
  }
}
.info-group {
  padding-top: 80px;
}
.info-content {
  text-align: center;
}
.info-group .social-bar {
  text-align: center;
}
@media (max-width: 768px) {
  .info-group .social-bar {
    position: relative;
    padding-top: 12px;
  }
}
.info-group a {
  color: #fefefe;
}
.info__text {
  padding-top: 12px;
}

.info__text h5 {
  color: #fefefe;
  font-size: 18px;
  line-height: 20px;
}
.info__text p {
  padding-top: 8px;
  font-size: 16px;
  color: #fefefe;
}
/* form
---------------------*/
.form {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.form input[type='text'],
.form input[type='tel'],
.form input[type='email'],
.form textarea {
  padding: 8px 16px;
  display: inline-block;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  background-color: inherit;
  color: #fefefe;
}
.form textarea {
  resize: none;
}
.form input[type='text']:focus,
.form input[type='tel']:focus,
.form input[type='email']:focus,
.form textarea:focus {
  outline: 0;
  border: 1px solid #e881a7;
}
.form label {
  margin-bottom: 8px;
  display: inline-block;
  vertical-align: middle;
  color: #fefefe;
}
.form__btn-group {
  margin-top: 32px;
}

/* divide-text
---------------------*/
.divide-text {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 28px;
  line-height: 32px;
  color: #fefefe;
}

/* info
---------------------*/
.info {
  text-align: center;
}

.info__email {
  margin-bottom: 16px;
}
.info__email a {
  color: #e881a7;
  font-size: 18px;
  font-weight: 400;
}
.info__phone {
  margin-bottom: 16px;
}
.info__phone a {
  color: #fefefe;
  font-size: 24px;
  font-weight: 400;
}
.info__social-bar .icon-btn {
  color: #e881a7;
}

/*-------------------------*/
/* $footer
---------------------------*/
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.final-text {
  font-size: 14px;
  text-align: center;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  color: #fefefe;
}
.copyright {
  text-align: center;
  color: #fefefe;
  font-size: 12px;
}

/*-------------------------*/
/* $parallax graphic
---------------------------*/
[class^='graphic_'] {
  position: absolute;
}
@media (max-width: 768px) {
  [class^='graphic_'] {
    transform: scale(0.5);
  }
}
.graphic_001 {
  top: 20%;
  left: 5%;
}
.graphic_002 {
  bottom: 0%;
  left: 2%;
}
.graphic_003 {
  top: -120%;
  right: 5%;
}
.graphic_004 {
  top: -30%;
  right: 20%;
}
.graphic_005 {
  bottom: 20%;
  left: 5%;
}
.graphic_006 {
  bottom: 50%;
  left: -5%;
}
.graphic_007 {
  top: -30%;
  right: -5%;
}
.graphic_008 {
  top: 10%;
  right: 10%;
}
.graphic_009 {
  bottom: 50%;
  left: 5%;
}
.graphic_010 {
  bottom: -10%;
  right: 20%;
}
.graphic_011 {
  top: 5%;
  left: -5%;
}
.graphic_012 {
  top: 12%;
  left: 5%;
}
.graphic_013 {
  top: 35%;
  right: 10%;
}
.graphic_014 {
  top: 50%;
  left: 10%;
}
.graphic_015 {
  top: 57%;
  left: 5%;
}
.graphic_016 {
  top: 71%;
  right: 10%;
}
.graphic_017 {
  top: 70%;
  right: 5%;
}
.graphic_018 {
  top: 84%;
  left: 5%;
}
.graphic_019 {
  top: 90%;
  left: 20%;
}
.graphic_020 {
  top: 0%;
  right: 20%;
}
.graphic_021 {
  top: 30%;
  left: 10%;
}
.graphic_022 {
  top: 35%;
  left: 10%;
}
.graphic_023 {
  top: 87%;
  right: 15%;
}
.graphic_024 {
  top: 70%;
  right: 10%;
}
